body{
  background-color: rgb(201, 197, 197);
}

img{
  width:100%;
  border-radius: 12px;
  /* height: 214px; */
  /* object-fit: cover;  */
  /* margin: 0 auto; */
}

.container{
  /* position: relative; */
  display: flex;
  max-width: 100%;
  background-color: rgb(27, 170, 39);
  margin: 0 auto; 
  margin-top: 20vh;
}

.card{
  /* position: absolute; */
  /* top: 20px;
  left: 20px; */
  width: 16%;
  background-color: white;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid;
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 10px;
  /* margin: 0 auto; */
}

.name{
  width: 100%;
}

/* .card {
  Add shadows to create the "card" effect
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: auto;
  position: relative; top: 10px;
  border-radius: 10px;
  background-color: rgb(141, 33, 33);
} */

/* On mouse-over, add a deeper shadow */
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */

/* .contact-card {
  Add shadows to create the "card" effect
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 200px;
  width: 200px;
  display: flex;
  background: blue;
}

.contact-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-group {
  padding: 2px 16px;
} */
/* .info-group{
  display: flex;
} */

/* .HamidApp {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
